*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cinzel',serif;
}

body{
height:100vh;
overflow:hidden;

background:
linear-gradient(rgba(0,0,30,.7),rgba(0,0,0,.8)),
url("BACKGROUND_KNIGHT.jpg");

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;
}

.stars{
position:absolute;
width:100%;
height:100%;
background-image:
radial-gradient(white 1px,transparent 1px);
background-size:30px 30px;
animation:stars 50s linear infinite;
opacity:.6;
}

@keyframes stars{
from{
transform:translateY(0);
}
to{
transform:translateY(1000px);
}
}

.fog{
position:absolute;
width:100%;
height:100%;
background:linear-gradient(
transparent,
rgba(90,90,255,.15)
);

animation:fog 6s infinite alternate;
}

@keyframes fog{
from{
transform:translateY(0);
}

to{
transform:translateY(-25px);
}
}

.container{
position:relative;
z-index:2;
}

.card{
width:360px;

padding:40px;

background:rgba(10,10,30,.35);

backdrop-filter:blur(12px);

border:1px solid rgba(150,150,255,.3);

border-radius:30px;

box-shadow:
0 0 20px #4d7cff,
0 0 60px #3f4cff;

text-align:center;
}

.avatar{
width:130px;
height:130px;
border-radius:50%;
margin:auto;

background:url("https://cdn-icons-png.flaticon.com/512/149/149071.png");

background-size:cover;

box-shadow:
0 0 20px cyan,
0 0 60px cyan;
}

h1{
color:white;
font-size:50px;
margin-top:20px;
}

p{
color:#ddd;
margin:15px 0 30px;
}

.btn{
display:block;
text-decoration:none;
color:white;

padding:18px;

margin:18px 0;

border-radius:20px;

border:1px solid #7b9fff;

background:rgba(255,255,255,.05);

transition:.4s;
}

.btn:hover{
transform:translateY(-7px);

box-shadow:
0 0 20px #4d7cff,
0 0 50px #4d7cff;
}

#clock{
margin-top:20px;
font-size:22px;
color:white;
}

@media(max-width:500px){

.card{
width:92%;
}

h1{
font-size:40px;
}

}
